{% extends 'base/base.html'%}
{% block librerias %}
<title>Recuperacion | My-App</title>
<link rel="stylesheet" href="{{url_for('static',filename='css/login.css')}}">
{% endblock %}
{% block contenido %}
<div class="container py-5 col-10 col-sm-10 col-md-8 col-lg-5 col-xl-3">
            <div class="card">
                <div class="card-header bg-dark text-white text-center">
                    <i class='fa fa-user'>&nbsp;</i>Nueva contraseña
                </div>
                
                <div class="card-body" style="padding-top: 20px; ">
                    <p>Ingresa la nueva contraseña</p>
                    
                    
                    <form class="form form-center" method="post" action="{{url_for('sendNewPassword')}}">
                        <input type="hidden" value="{{ id }}" name="id">
                        <input class="form-control" type="password" value="Endercr1213%" autocomplete="off" name="password"  tabindex="3" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,20}" title="El campo contraseña debe contener un mínimo 
                        de 8 caracteres, un máximo de 20, letras, (minúsculas y MAYÚSCULAS) y Números " placeholder="Contraseña" size="30">
                        <p class="card-text mt-3 text-center">
                            <button type="submit" class="btn btn-outline-danger" tabindex="4" style="width: 100%;">Enviar</button>
                        </p>
                    </form>
                    
                    <p class="card-text mt-3 text-center" >
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                            <ul class="alert alert-danger">
                                <small>Campos requeridos *</small>
                                {% for message in messages %}
                                <li style="padding-left: 10px; list-style: none;"><small>{{message}}</small></li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        {% endwith %}   
                    </p>
                </div>
            </div>
        
</div>

{% endblock %}
