{% extends 'base/base.html'%}
{% block librerias %}
<title>Login</title>
<link rel="stylesheet" href="{{url_for('static',filename='css/login.css')}}">
{% endblock %}
{% block contenido %}
<div class="container py-5 col-10 col-sm-10 col-md-8 col-lg-5 col-xl-3">
    <div class="card">
        <div class="card-header bg-dark text-white text-center">
            <p><i class='fa fa-user'></i> Recupera tu cuenta</p>
        </div>
        <div class="card-body" style="padding-top: 20px; ">
            
            <p style="text-align:justify;"><small>
                Para proteger tu cuenta, queremos asegurarnos de que realmente seas tú la persona que intenta acceder</small>
            </p>
            <p>
                <p style="text-align:justify;"><small>
                    Ingresa tu correo electrónico para recuperar tu cuenta:
                </small>
            </p>
            <form class="form form-center" method="post" action="{{url_for('restorePassword')}}" id="formLogin">
                <!-- <input class="form-control" type="text" name="name" placeholder="Nombre"><br> -->
                <input class="form-control" value="{{email}}" type="email" name="email" tabindex="1" placeholder="Correo electrónico">
                <p class="card-text mt-3 text-center">
                    <button type="submit" class="btn btn-outline-danger" tabindex="3" style="width: 100%;">Recuperar</button>
                </p>
            </form>
            <p class="card-text mt-3 text-center" >
                {% with messages = get_flashed_messages(category_filter=["error"]) %}
                    {% if messages %}
                    <ul class="alert alert-danger text-center">
                        {% for message in messages %}
                        <li style="padding-left: 10px; list-style: none;"><small>{{message}}</small></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                {% endwith %}   
                {% with messages = get_flashed_messages(category_filter=["good"]) %}
                    {% if messages %}
                    <ul class="alert alert-danger text-center">
                        {% for message in messages %}
                        <li style="padding-left: 10px; list-style: none;"><small>{{message}}</small></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                {% endwith %}   
            </p>
        </div>
    </div>
</div>

{% endblock %}
