{% extends 'base/base.html'%}


{% block librerias %}
<title>Dashboard - MyApp</title>
<link rel="stylesheet" href="{{url_for('static',filename='css/login.css')}}">
{% endblock %}
{% block navbar %}
{% endblock %}
{% block contenido %}

<div class="container mt-5" >
    <p class="card-text mt-3 text-center" >
        {% with messages = get_flashed_messages(category_filter=["error"]) %}
            {% if messages %}
            <ul class="alert alert-danger">
                {% for message in messages %}
                <li style="padding-left: 10px; list-style: none;"><small>{{message}}</small></li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}   
        {% with messages = get_flashed_messages(category_filter=["good"]) %}
            {% if messages %}
            <ul class="alert alert-success text-center">
                {% for message in messages %}
                <li style="padding-left: 10px; list-style: none;"><small>{{message}}</small></li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}  
    </p>
    <div class="row row-cols-1 row-cols-md-5 g-4">
        {% for image in images %}
        <div class="col">
            <div class="card">
                <div class="btn-group dropleft my-1" style="display: flex; justify-content: end;"> 
                    <i class="fa fa-ellipsis-v py-1 ml-2" style="width: 20px; height: 20px; font-size:20px" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"></i>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="{{url_for('editImage',id=image[0])}}">Editar</a></li>
                                <li><button type="button" class="dropdown-item" onclick="download('{{image[2]}}')" target="_blank" name="descargar" id="descargar">Descargar</button></li>
                                <li>
                                    <a class="dropdown-item" href="{{url_for('changeStatus',id=image[0],status=image[4])}}">
                                        {% if image[4] =='activo' %}
                                        Inactivar
                                        {% elif image[4] =='inactivo' %}
                                        Activar
                                        {% endif %}
                                    </a>
                                </li>
                                <li><a class="dropdown-item" href="{{url_for('deleteImage',id=image[0])}}">Eliminar</a></li>
                            </ul>
                        </div>
                            <img src="/static/images/{{image[2]}}"  style="width: auto;" class="card-img-top {{image[4]}}" alt="{{image[1]}}">
                        
                        <div class="card-body {{image[4]}}">
                            <h5 class="card-title">{{image[1]}}</h5>
                            <p class="card-text">{{image[5]}}</p>
                            <p class="card-text">Fecha : {{image[6]}}</p>
                        </div>
                    
                    </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    function download(url){
        console.log(url)
        var source = "https://project-qr-code-flask.herokuapp.com/static/images/"+url;
        
        var a = document.createElement('a');

        a.download = true;
        a.target = '_blank';
        a.href= source;

        a.click();       

    }
    
</script>
{% endblock %}