{% extends 'base/base.html'%}

{% block librerias %}
    <title>Inicio - MyApp</title>
{% endblock %}
{% block navbar %}
    
{% endblock %}

{% block contenido %}

<div class="container mt-5" >
    <div class="row row-cols-1 row-cols-md-5 g-4">
        {% for image in images %}
            <div class="col">
                <div class="card">
                    <div class="btn-group dropleft my-1" style="display: flex; justify-content: end;"> 
                        <i class="fa fa-ellipsis-v py-1 ml-2" style="width: 20px; height: 20px; font-size:20px" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"></i>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="https://project-qr-code-flask.herokuapp.com/{{image[2])}}" target="_blank">Ver</a></li>
                            <li><button type="button" class="dropdown-item" onclick="download('{{image[2]}}')" target="_blank" name="descargar" id="descargar">Descargar</button></li>
                        </ul>
                    </div>
                    <img src="./static/images/{{image[2]}}" style="width: auto;" class="card-img-top" alt="{{image[1]}}">
                    <div class="card-body">
                        <h5 class="card-title">{{image[1]}}</h5>
                        <p class="card-text">{{image[5]}}</p>
                        <p class="card-text">Fecha : {{image[6]}}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    function download(url){
        console.log(url)
        var source = "https://project-qr-code-flask.herokuapp.com/static/images/"+url;
        
        var a = document.createElement('a');

        a.download = true;
        a.target = '_blank';
        a.href= source;

        a.click();       

    }
    
</script>
{% endblock %}


{% block footer %}


{% endblock %}

